@media (min-width: 576px) { 
    header {
        display: flex; 
    }
    #token-stats {
        width:100%;
        display: flex;
        text-align: center;
    }
    #token-stats div {
        flex-grow: 2;
        text-align: right;
    }
}

@media (min-width: 768px) { 
    h1 {
        margin-top:72px;
    }
    #slide-1 h2 {
        font-size:40px;  

    }#header-darkwinds {
        display: none;
    }
    h1 {
        font-size: 64px;
        line-height:56px;
    }
    #header-left {
        position: static;
    }
    #header-link-list {
        display: block;
    }
    #discord-link {
        display: block;
    }
    #welcome-logo {
        max-height:350px;
    }
    footer {
        height: 330px;
        margin-top:40px;

    }
    #canvas {
        display: block;
    }
    #call-to-action {
        margin-bottom:32px;
    }
    .footer-row {
        display: flex;
    }
    .footer-row div {
        width:32%;
        flex-grow: 2;
    }
    #canvas {
        display: block;
    }
    #book-search {
        display:inline;
    }
    #landing-header {
        display:block;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        line-height: 2;
    }
    header {
        display: block;
    }
    #welcome-icon {
        display: none;
    }
    #welcome-logo {
        top:110px;
        margin-top:0;
    }
    #title-screen {
        background-image:url(/img/landing/king2.png);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: 40%;
        background-size: auto 100%;

    }    
    #title-king {
        position:absolute;
        z-index:2;
        right:-5%;
        width:auto;
        height:600px;
        display: block;
    }
    #title-screen h1 {
        padding:8px 200px;
        font-size:40px;
    }
    .landing-card {
        width:260px;
        height:auto;
        margin-bottom:32px;
    }
    .stats-metric {
        padding:32px;
    }  
    .post-big-image {
        width: 160%;
        max-width: 160%;
        margin-left:-30%;
        margin-bottom:16px;
    }
    #slide-1 h2 {
        margin-top:40px;
    }
}

@media (min-width: 992px) { 
    #title-king {
        right:-5%;
     }
    #book-search {
        width:500px;
    }
    #title-screen {
        height:600px !important;
    }
    .post-float-left {
        float:left;
        width:40%;
        margin-left:-20%;
        margin-right:24px;
    } 
 }

@media (min-width: 1200px) { 
    #book-search {
        width:600px;
    }
    #title-screen {

    }
 }
