---
layout: none
---
<!DOCTYPE html>
<html>
    <head>
        <title>Darkwinds | Ethereum trading card game</title>
        <link rel="preload" href="/img/bg/battle.jpg" as="image" >
        <link rel="preload" href="/img/landing/king.png" as="image" >
        {% include head.html %}
    </head>
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="stylesheet" href="https://use.typekit.net/msi7hrz.css">
    <body>
        <style>
     
        </style>
        <div id="discord-link">
            <a href="https://discord.gg/AdZQ8Zu">
                <img id="discord-link-button" src="/img/landing/discord-dw-small-transparent.png">
                <p id="join-txt">JOIN US!</p>
            </a>
        </div>
        <header id="landing-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5" id="header-left" style="text-align: right">
                        <ul>
                            <li><a href="https://corsarium.playdarkwinds.com/detect.html">Play Now</a></li>
                            <li><a href="/cards.html">Cards</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2" style="text-align:center">
                        <div id="header-back-button">
                            <a href="/" class="corsarium-tab">
                            <img id="header-icon" src="/img/ico_white.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-5" id="header-right">
                        <ul>
                            <li><a href="/game">The Game</a></li>
                            <!-- <li><a href="https://discord.gg/AdZQ8Zu">Discord</a></li> -->
                            <li><a href="/blog">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <script> 
            var CONTROLLER="<%=controller%>" 
            var ENVIRONMENT="<%=environment%>" 
            var CONTRACT_ADDRESS="<%=contract_address%>" 
            var NETWORK="<%=network%>"
            var UTM_SOURCE="<%=utm_source%>"
            
            //Dust Particles Simulation by bionicoz based on
            //Basic Particle Animation
            //Author: Brandon John-Freso
            $(function () {
            var W, H,
            canvas, ctx, //ctx stands for context and is the "curso" of our canvas element.
            particleCount = 700,
            particles = []; //this is an array which will hold our particles Object/Class
            
            W = window.innerWidth;
            H = 500 ;
            
            canvas = $("#canvas").get(0); //this "get(0) will pull the underlying non-jquery wrapped dom element from our selection
            canvas.width = W;
            canvas.height = H;
            
            ctx = canvas.getContext("2d"); // settng the context to 2d rather than the 3d WEBGL
            ctx.globalCompositeOperation = "lighter";
            console.log(ctx);
            var mouse = {
            x: 0, 
            y: 0,
            rx:0,
            ry:0,
            speed:45,
            delta:0
            };         
            
            document.addEventListener('mousemove', function(e){ 
            
            mouse.x = e.clientX || e.pageX; 
            mouse.y = e.clientY || e.pageY;
            mouse.x-=W/2;
            mouse.y-=H/2;
            
            }, false);
            
            function randomNorm(mean, stdev) {
            
            return Math.abs(Math.round((Math.random()*2-1)+(Math.random()*2-1)+(Math.random()*2-1))*stdev)+mean;
            }
            
            //Setup particle class
            function Particle() {
            //using hsl is easier when we need particles with similar colors
            this.h=parseInt(45);
            this.s=parseInt(40 * Math.random() + 30);
            this.l=parseInt(40 * Math.random() + 30);
            this.a=0.5*Math.random() ;
            
            this.color = "hsla("+ this.h +","+ this.s +"%,"+ this.l +"%,"+(this.a)+")";
            this.shadowcolor = "hsla("+ this.h +","+ this.s +"%,"+ this.l +"%,"+parseFloat(this.a-0.55)+")";
                
            this.x = Math.random() * W;
            this.y = Math.random() * H;
            this.direction = {
               "x": -1 + Math.random() * 2,
               "y": -1 + Math.random() * 2
            };
            //this.radius = 9 * ((Math.random()*2-1)+(Math.random()*2-1)+(Math.random()*2-1)+3);
            this.radius = randomNorm(0,4);
            this.scale=0.8*Math.random()+0.5;
            this.rotation=Math.PI/4*Math.random();
            
            this.grad=ctx.createRadialGradient( this.x, this.y, this.radius, this.x, this.y, 0 );
            this.grad.addColorStop(0,this.color);
            this.grad.addColorStop(1,this.shadowcolor);
            
            this.vx = (2 * Math.random() + 4)*.01*this.radius;
            this.vy = (2 * Math.random() + 4)*.01*this.radius;
            
            this.valpha = 0.01*Math.random()-0.02;
            
            this.move = function () {
               this.x += this.vx * this.direction.x ;
               this.y += this.vy * this.direction.y ;
               this.rotation+=this.valpha;
               //this.radius*= Math.abs((this.valpha*0.01+1));
            
            };
            this.changeDirection = function (axis) {
               this.direction[axis] *= -1;
               this.valpha *= -1;
            };
            this.draw = function () {
               ctx.save();
               ctx.translate(this.x+mouse.rx/-20*this.radius,this.y+mouse.ry/-20*this.radius);  
             ctx.rotate(this.rotation);  
             ctx.scale(1,this.scale);
               
               this.grad=ctx.createRadialGradient( 0, 0, this.radius, 0, 0, 0 );
               this.grad.addColorStop(1,this.color);
               this.grad.addColorStop(0,this.shadowcolor);
               ctx.beginPath();
               ctx.fillStyle = this.grad;
               ctx.arc(0, 0, this.radius, 0, Math.PI * 2, false);
               ctx.fill();
               ctx.restore();
            
               
            };
            this.boundaryCheck = function () {
               if (this.x >= W*1.2) {
                   this.x = W*1.2;
                   this.changeDirection("x");
               } else if (this.x <= -W*0.2) {
                   this.x = -W*0.2;
                   this.changeDirection("x");
               }
               if (this.y >= H*1.2) {
                   this.y = H*1.2;
                   this.changeDirection("y");
               } else if (this.y <= -H*0.2) {
                   this.y = -H*0.2;
                   this.changeDirection("y");
               }
            };
            } //end particle class
            
            function clearCanvas() {
            ctx.clearRect(0, 0, W, H);
            } //end clear canvas
            
            function createParticles() {
            for (var i = particleCount - 1; i >= 0; i--) {
               p = new Particle();
               particles.push(p);
            }
            } // end createParticles
            
            function drawParticles() {
            for (var i = particleCount - 1; i >= 0; i--) {
               p = particles[i];
               p.draw();
            }
            
            
            } //end drawParticles
            
            function updateParticles() {
            for (var i = particles.length - 1; i >= 0; i--) {
               p = particles[i];
               p.move();
               p.boundaryCheck();
            
            }
            } //end updateParticles
            
            function initParticleSystem() {
            createParticles();
            drawParticles();
            }
            
            function animateParticles() {
            clearCanvas();
            setDelta();
            update()
            drawParticles();
            updateParticles();
            requestAnimationFrame(animateParticles);
            }
            
            initParticleSystem();
            requestAnimationFrame(animateParticles);
            
            function setDelta() {  
            this.now    =   (new Date()).getTime();  
            mouse.delta  =   (this.now-this.then)/1000;  
            this.then   =   this.now;  
            }
            function update() {  
            
            if(isNaN(mouse.delta) || mouse.delta <= 0) { return; }  
            
            var distX   =   mouse.x - (mouse.rx),  
            distY   =   mouse.y - (mouse.ry);  
            
            if(distX !== 0 && distY !== 0) {          
            
            mouse.rx -=  ((mouse.rx - mouse.x) / mouse.speed); 
            mouse.ry -=  ((mouse.ry - mouse.y) / mouse.speed); 
            
            }   
            
            };  
            });
        </script>
        <div id="landing" style="<% if(controller!='welcome') { %> display:none <% } %>">
            <div id="title-screen">
                <div id="title-bg"></div>
                <canvas id="canvas"> 
                </canvas>
                <img src="/img/landing/king.png" id="title-king"/>
                <img src="/img/logo/ico_met.png" id="welcome-icon" alt="Darkwinds"/>

                <img src="/img/logo/dw_jpn.svg" id="welcome-logo" alt="Darkwinds"/>
            </div>
            <div  id="slide-1" >
                <div class="container">
                    <h2>Fight, trade and collect pirate cryptocollectibles with Ethereum.</h2>
                    <h3>Available for Firefox and Chrome with the Metamask extension.</h3>
                    <br>
                    <button class="button-cut button-big" onclick="window.location.href='https://corsarium.playdarkwinds.com/detect.html'">Play now!</button>
                </div>
            </div>
            <div id="water-background">
                <div id="slide-2" >
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img class="landing-card landing-card-1" src="https://corsarium.playdarkwinds.com/img/cards/31.opt.png">
                            </div>
                            <div class="col">
                                <img class="landing-card landing-card-2" src="https://corsarium.playdarkwinds.com/img/cards/48.opt.png">
                            </div>
                            <div class="col">
                                <img class="landing-card landing-card-3" src="https://corsarium.playdarkwinds.com/img/cards/47.opt.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h2>Crypto-collect them all!</h2>
                                <h3>Every Darkwinds card is a ERC721 Ethereum token, which means you have true ownership of them in the Blockchain. Cards are generated at random from 100 initial "First Edition" models and some are very rare.</h3>
                                <!-- <a class="button-cut-1 button-medium" href="/cards">See all first edition cards</a> -->
                                <button class="button-cut button-medium" onclick="window.location.href='/cards'">See all first edition cards</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <img src="img/guide/diamonds.svg" style="width:120px"/>
                 </div>
                <div  id="slide-3">
                    <div id="slide-3-text">
                        <br><br>
                        <div class="container">
                            <h2 class="subtitle">Epic Online Battles</h2>
                            <h3>Build your deck and battle against other pirates in the arena. Climb your way to the top of the leaderboard and prepare for the upcoming tournaments. </h3>
                            <button class="button-cut button-medium" onclick="window.location.href='/game.html'">Learn to play</button>
                            <video autoplay loop muted id="gameplay-video">
                                <source src="https://corsarium.playdarkwinds.com/video/landing.webm" type="video/webm">
                                <source src="https://corsarium.playdarkwinds.com/video/landing.mp4" type="video/mp4">
                                <img src="https://s3.amazonaws.com/mego-blog/darkwinds/darkwinds2018.gif">
                            </video>
                        </div>
                    </div>
                </div>

                <div id="slide-5" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>LAST BLOG ENTRIES</h2>
                            </div>
                              <div class="col" id="entries-list">
                                  {% for post in site.posts limit:3 %}                    
                                    <div id="home-single-entrie" class="button-cut-2">
                                        <div id="blog-thumbnail" class="button-cut-1" style="background-image: url('{{ post.thumbnail }}');"></div>
                                        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                                        <span id="home-entrie-span">{{ post.date | date: "%B %e, %Y" }}. Category: {{ post.categories }}<a href="http://erjjones.github.com{{ post.url }}#disqus_thread"></a></span>			
                                        
                                    </div>
                                    {% endfor %}                      
                              </div>   
                            <!-- <div class="col-md-12" id="entries">
                                {% for post in site.posts %}	
                                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                                <p>{{ post.date | date: "%B %e, %Y" }}<a href="http://erjjones.github.com{{ post.url }}#disqus_thread"></a></p>
                                {% endfor %} 
                            </div> -->
                            <div class="col-lg-12">                    
                                <button class="button-cut button-medium" onclick="window.location.href='/blog'">More entries...</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $( document ).ready(function() {
              document.getElementById('gameplay-video').play();
            });
            $(window).scroll(function (event) {
              var scroll = $(window).scrollTop();
              // Do something
              if(scroll>100) {
                $("header").addClass('header-background')
              } else {
                $("header").removeClass('header-background')              
              }
            });
        </script>
        {% include footer.html %}
    </body>
</html>