<div class="container-fluid" id="footer-landing">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h3>The game</h3>
              <ul>
                  <li><a href="http://corsarium.playdarkwinds.com">Try the demo</a></li>
                  <li><a href="/faq/">FAQ</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h3>Community</h3>
              <ul>
                  <li><a href="https://discord.gg/WwyCERC">Discord</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h3>Support</h3>
              <ul>
                  <li><a href="/contact.html">Contact</a></li>
              </ul>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <p>Copyright 2018 MEGO Games. All rights reserved. </p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12" id="logo-mego">
              <a href="http://mego.cl"><img src="/img/logo/logo-mego-150.png"/></a>
              <a href="http://tapinator.com/"><img src="/img/logo/tapm.png"/></a>
          </div>
      </div>
  </div>
</div>