<div id="call-to-action">
    <div class="container">
        <h2 color="black">Become a crypto pirate!</h2>
        <button class="button-cut button-big" onclick="window.location.href='/detect.html'">Play now!</button>
    </div>
</div>
<footer id="footer-landing">
    <div class="container">
    <div class="footer-row">
        <div>
            <h3>The game</h3>
            <ul>
                <li><a href="https://corsarium.playdarkwinds.com/detect.html">Play Now</a></li>
                <li><a href="/cards.html">Card Explorer</a></li>
                <li><a href="https://press.mego.cl/sheet.php?p=darkwinds">Press</a></li>
            </ul>
        </div>
        <div>
            <h3>Community</h3>
            <ul>
                <li><a href="https://twitter.com/playdarkwinds">Twitter</a></li>
                <li><a href="https://discord.gg/WwyCERC">Discord</a></li>
                <li><a href="https://github.com/megoforce/darkwinds">Github</a></li>
            </ul>
        </div>
        <div>
            <h3>Support</h3>
            <ul>
                <li><a href="/support.html">Contact</a></li>
            </ul>
        </div>
    </div>

            <p>Copyright 2018 MEGO Games. All rights reserved. </p>
            <div id="footer-logos">
            <a target="_blank" href="https://www.mego.cl" id="footer-mego-logo"><img src="/img/logo/logo-mego-150.png" style="margin-right:10px"></a>
            <a a="" target="_blank" href="http://tapinator.com/"><img src="/img/logo/tap_150.png"></a>
        </div>
        </div>
</footer>
