<div class="container-fluid" id="footer-landing">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h3>The game</h3>
              <ul>
                  <li><a href="https://corsarium.playdarkwinds.com/matchmaking">Play Now</a></li>
                  <li><a href="/faq/">FAQ</a></li>
                  <li><a href="http://corsarium.playdarkwinds.com/cards/all">Card Explorer</a></li>
                  <li><a href="http://press.mego.cl/sheet.php?p=darkwinds">Press</a></li>

              </ul>
          </div>
          <div class="col-md-4">
              <h3>Community</h3>
              <ul>
                    <li><a href="https://twitter.com/playdarkwinds">Twitter</a></li>

                  <li><a href="https://discord.gg/WwyCERC">Discord</a></li>
                  <li><a href="https://github.com/megoforce/darkwinds">Github</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h3>Support</h3>
              <ul>
                  <li><a href="/contact/">Contact</a></li>
              </ul>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <p>Copyright 2018 MEGO Games. All rights reserved. </p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12" id="logo-mego">
            <a target="_blank" href="https://www.mego.cl"><img src="/img/logo/logo-mego-150.png"/></a>
            <a a target="_blank" href="http://tapinator.com/"><img src="/img/logo/tap_150.png"/></a>
          </div>
      </div>
  </div>
</div>