<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Quando" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
<link rel="stylesheet" href="/css/darkwinds.css" />
<link rel="stylesheet" href="https://use.typekit.net/abb8dvk.css">
<script>
    function playNow() {
        document.location.href="https://corsarium.playdarkwinds.com/wallet.html"
    }
</script>
<title>Darkwinds | Cryptocollectible trading card game</title>