<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Quando" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
<link rel="stylesheet" href="/css/darkwinds.css" />
<link rel="stylesheet" href="https://use.typekit.net/abb8dvk.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" type="image/x-icon" href="/img/ico/favicon.ico?">
<meta property="og:title" content="Darkwinds" />
<meta property="og:url" content="https://playdarkwinds.com" />
<meta property="og:image" content="http://localhost:4000/assets/images/blog/dw.jpg" />

<script>
    function playNow() {
        document.location.href="https://corsarium.playdarkwinds.com/wallet.html"
    }
</script>
<title>Darkwinds | Cryptocollectible trading card game</title>