<header id="site-header" class="header-background">
    <div class="container">
        <div class="row">
            <div class="col-md-1"  id="header-title-button">
                <div id="header-back-button">
                    <a href="/" class="corsarium-tab">
                        <img id="header-icon" src="/img/ico_white.png">
                        <img id="header-darkwinds" src="/img/logo/vertical_white.png">
                    </a>
                </div>
            </div>
            <div class="col-md-9"  id="header-link-list">
                <ul>
                    <li ><a href="/">Home</a></li>
                    <li><a href="/game.html">About the Game</a></li>
                    <li><a href="/blog">Blog</a></li>
                    
                </ul>
                
            </div>
            
            <div class="col-md-2" id="header-left">
                <ul>
                    <li><a href="https://corsarium.playdarkwinds.com/detect.html" id="header-play-now">Play Now</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>