<header id="slim-header">
  <div class="container">
      <div class="row">
          <div class="col">
              <ul>
                  <li><a href="/"><img id="header-icon-left" src="/img/logo/ico_white.png" /></a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="Home">Contact</a></li>
                  <li><a href="Home">Discord</a></li>
                  <li><a href="Home">Wiki</a></li>
              </ul>
          </div>
          <div class="col" id="header-play-now">
             <button class="button-primary-web-header" onClick="javascript:playNow()">Join Beta</button>
          </div>
      </div>
  </div>
</header>
