<header id="site-header" class="header-background">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <div id="header-back-button">
                    <a href="/" class="corsarium-tab">
                        <img id="header-icon" src="/img/ico_white.png">
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <ul>
                    <li><a href="/">About</a></li>
                    <li><a href="/game.html">The Game</a></li>
                    <li><a href="/cards.html">Cards</a></li>
                    <li><a href="/guide">Guide</a></li>
                    <li><a href="/blog">Blog</a></li>
                    
                </ul>
                
            </div>
            
            <div class="col-md-2" id="header-left">
                <ul>
                    <li><a href="https://corsarium.playdarkwinds.com/detect.html">Play Now</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>