<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{background:none; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <script>
        function open_whitepaper() {
                document.location.href="/whitepaper/darkwinds.pdf"
            }
            function check_progress() {
                document.location.href="https://github.com/megoforce/darkwinds/milestone/1"
            }

            //Slider
            let slideIndex = 0;
            let sliderLoop;

            function selectSlide(slideToShow){
                clearInterval(sliderLoop);
                showDivs(slideToShow);
            }

            function showDivs(slideToShow) {
                let slides = document.getElementsByClassName("slide");
                let circles = document.getElementsByClassName("slider-circle");
                slideIndex = slideToShow % slides.length;
                for (let i = 0; i < slides.length; i++) {
                    slides[i].style.display = (i == slideIndex) ? "block" : "none";
                    circles[i].style.backgroundColor = (i == slideIndex) ? "#fff" : "transparent";
                }
            }
            
            window.addEventListener('load', function () {
                showDivs(0);
                sliderLoop = setInterval(() => {
                    showDivs(slideIndex + 1);
                },4000);

            });
    </script>
</head>

<body>

    {% include header.html %}

    <!--end of header and main banner-->
    <!--START OF CONTENT CENTERED-->
    <!-- DIVS FOR HOME CONTENT -->

    <div id="main-banner">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img id="logo-big" src="/img/logo/vertical_swhite.png" />
                    <h2 class="subtitle-white">the epic pirate battle on the blockchain</h2>
                </div>
            </div>
        </div>
    </div>

    <div id="chain">
    </div>

    <div>
        <div class="container" id="play-now">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <h3 class="subtitle">Darkwinds is a multiplayer trading card game with Ethereum cryptocollectibles.</h3>
                    <button class="button-primary-web" id="playnowbutton" onClick="javascript:playNow()">Open Beta</button>
                </div>

                <div class="col-md-3">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3">
                    <a href="https://metamask.io/"><img class="ball" src="/img/landing/ball-mask.png"/></a>
                </div>
                <div class="col-sm-3">
                    <img class="ball" src="/img/landing/ball-cors.png" />
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Available for Firefox and Chrome with the <a>Metamask</a> extension.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="what-is">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="subtitle">Cryptocollectible cards</h2>
                    </br>
                    <p>Each Darkwinds card is a ERC721 Ethereum cryptocollectible, which means you are free to transfer, trade, sell outside the game.</p>
                    <p>Each card is a unique token stored on a Smart Contract, and only 1,000,000 first edition cards will be generated.</p>
                    <button class="button-secondary-web" onClick="javascript:open_whitepaper()">Read the whitepaper</button>
                </div>
                <div class="col-md-6">
                    <img class="landing-card landing-card-1" src="https://corsarium.playdarkwinds.com/img/cards/51.png"/>
                    <img class="landing-card landing-card-2" src="https://corsarium.playdarkwinds.com/img/cards/49.png"/>
                    <img class="landing-card landing-card-3" src="https://corsarium.playdarkwinds.com/img/cards/19.png"/>
                </div>
            </div>
        </div>
    </div>

    <div id="why-play">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img id="rudder" src="/img/landing/rudder_200px.gif" />
                </div>
                <div class="col-md-6">
                    <h2 class="subtitle">Active development</h2>
                    <p>While you can purchase the final cards and play online, we are playtesting the game rules in open beta until the consolidation date (October 2018). We'll be also adding new features each week in progress towards our milestones. </p>
                    <button class="button-secondary-web" onClick="javascript:check_progress()">Check our progress on GitHub</button>

                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row">
            <div class="slider">
                <img src = "/img/landing/becomebg.jpg" class = "slide fade" />
                <img src = "/img/landing/becomebg.jpg" class = "slide fade" />
                <img src = "/img/landing/becomebg.jpg" class = "slide fade" />
                <img src = "/img/landing/becomebg.jpg" class = "slide fade" />
                <div class="slider-selector-container">
                    <span class="slider-circle" onclick="selectSlide(0)"></span>
                    <span class="slider-circle" onclick="selectSlide(1)"></span>
                    <span class="slider-circle" onclick="selectSlide(2)"></span>
                    <span class="slider-circle" onclick="selectSlide(3)"></span>
                </div>
            </div>
        </div> -->

    <div id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="subtitle">Pricing</h2>
                    <p>Access to Dark Winds is free. You'll only spend money while purchasing cards using your ETH wallet provided by Metamask. Create the ultimate strategy and you can go to the top of our Ranking.</p>
                    <button class="button-secondary-web" onClick=location.href="/faq">More info</button>
                </div>
                <div class="col-md-6">
                    <img class="support-img" src="/img/logo/ico_met.png" />
                </div>
            </div>
        </div>
    </div>
    <!--BECOME-->
    {% include become.html %}
    <!--SUBSCRIBE-->
    {% include subscribe.html %}
    <!--FOOTER-->
    {% include footer.html %}
</body>

</html>