
<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:none; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <script>
            function open_whitepaper() {
                document.location.href="/whitepaper/darkwinds.pdf"
            }

            //Slider
            let slideIndex = 0;
            let sliderLoop;

            function selectSlide(slideToShow){
                clearInterval(sliderLoop);
                showDivs(slideToShow);
            }

            function showDivs(slideToShow) {
                let slides = document.getElementsByClassName("slide");
                let circles = document.getElementsByClassName("slider-circle");
                slideIndex = slideToShow % slides.length;
                for (let i = 0; i < slides.length; i++) {
                    slides[i].style.display = (i == slideIndex) ? "block" : "none";
                    circles[i].style.backgroundColor = (i == slideIndex) ? "#fff" : "transparent";
                }
            }
            
            window.addEventListener('load', function () {
                showDivs(0);
                sliderLoop = setInterval(() => {
                    showDivs(slideIndex + 1);
                },4000);

            });
        </script>
</head>

<body>

  {% include header.html %}
<div class="container">
  {{content}}
</div>
         </br>
        <!--BECOME-->
        {% include become.html %}
        <!--SUBSCRIBE-->
        {% include subscribe.html %}
        <!--FOOTER-->
        {% include footer.html %}
      </body>

</html>
